# Python gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
.pytest_cache/
.vscode/
.idea/

# Tool specific
logs/
config.json
